# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias .4="cd ../../.."
alias .5="cd ../../../.."

# mv, rm, cp
alias mv='mv -v'
alias rm='rm -i -v'
alias cp='cp -v'

alias x-='chmod -x'
alias x+="chmod +x"

alias cask='brew cask' # i <3 u cask
alias where=which # sometimes i forget
alias brwe=brew  #typos

alias hosts='sudo $EDITOR /etc/hosts'

alias ag='ag -f --hidden'

###
# time to upgrade `ls`

# ls options: A = include hidden (but not . or ..), F = put `/` after folders, h = byte unit suffixes
alias ls='ls -Gah'
alias ll='ls -l'
alias lsd='ls -l | grep "^d"' # only directories

# Exa alternative to ls (see https://the.exa.website/)
alias l='exa -l -Gah'
###


###
# Vagrant

alias vup='vagrant up'
alias vhalt='vagrant halt'
alias vssh='vagrant ssh'
alias vr='vagrant reload'
alias vrp='vagrant reload --provision'
alias vst='vagrant status'


# Flush DNS cache
alias flushdns="dscacheutil -flushcache"


# Recursively delete `.DS_Store` files
alias cleanDS="find . -name '*.DS_Store' -type f -ls -delete"

alias diskspace_report="df -P -kHl"
alias free_diskspace_report="diskspace_report"

# Shortcuts
alias g="git"
alias v="vim"
alias ungz="gunzip -k"
alias c="clear"
alias reload="source ~/.bash_profile"
alias myip="ipconfig getifaddr en0"


# File size
alias fs="stat -f \"%z bytes\""

# Empty the Trash on all mounted volumes and the main HDD. then clear the useless sleepimage
alias emptytrash=" \
    sudo rm -rfv /Volumes/*/.Trashes; \
    rm -rfv ~/.Trash/*; \
    sudo rm -v /private/var/vm/sleepimage; \
"

# Update installed Ruby gems, Homebrew, npm, and their installed packages
alias brew_update="brew -v update; brew upgrade --force-bottle --cleanup; brew cleanup; brew cask cleanup; brew prune; brew doctor; npm-check -g -u"
alias update_brew_npm_gem='brew_update; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update --no-document'
