
[credential]
    helper = osxkeychain

[include]
    path = ~/.gitconfig.client

[core]
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes
    filemode = false

[fetch]
    prune = true

[push]
    default = current

[pull]
    rebase = preserve

[diff]
    compactionHeuristic = true
    mnemonicPrefix = true
    submodule = log

[merge]
    stat = true
    log = true
    conflictStyle = diff3

[apply]
    whitespace = fix

[rebase]
    autosquash = true

[rerere]
    enabled = true
    
[include]
    path = ~/.gitconfig.clientA

[status]
    submoduleSummary = true
    untrackedCache = true

[commit]
    cleanup = strip
    template = ~/.gitmessage

[pager]
    diff = diff-so-fancy | less --tabs=4 -RFX
    show = diff-so-fancy | less --tabs=4 -RFX

# so much color
[color]
    ui = always
[color "diff"]
    meta = yellow bold
    commit = green bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = "red bold 52"
    newNormal = "green bold"
    newHighlight = "green bold 22"
[color "branch"]
    current = cyan bold
    local = yellow
    remote = green
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
    
[alias]

    # list aliases
    alias = "!git config -l | grep alias | cut -c 7-"

    fc = fetch
    pl = pull
    ps = push
    cp = cherry-pick
    
    s = "status -sb"
    st = "status"
    co = checkout
    cob = "checkout -b"
    cb = "!git switch"

    # branch
    br = branch -vv
    bra = "branch -avv"
    brr = "branch -rvv"
    brm = "branch --merged"
    switch = "!git checkout $(git branch -a --format='%(refname:short)' | fzf)"
    pam= !BRANCH=`git recent | fzf` && git checkout ${BRANCH}
    
    recent = !git for-each-ref --sort=-committerdate --format='%(refname:short)' refs/heads/ | head -n 100
    current = rev-parse --abbrev-ref HEAD
    sha = rev-parse HEAD

    # list branches sorted by last modified
    b = "branch -vv --sort=-authordate"

    # list branches contains commit 
    has = "branch --contains"

    # add
    au = "add -u"
    ai = "add -i"

    # commit
    ci = commit
    ca = "commit --amend"
    cf = "commit --fixup"
    cs = "commit --squash"
    oops = "commit --amend --no-edit"

    # diff
    diff = diff--word-diff
    df = "diff --color --color-words --abbrev"
    dfs = "diff --color --color-words --abbrev --staged"
    workDay = diff --shortstat '@{0 day ago}'

    # reset 
    r1 = "reset HEAD^"
    r2 = "reset HEAD^^"
    rs1 = "reset --soft HEAD^"
    rs2 = "reset --soft HEAD^^"
    rh1 = "reset --hard HEAD^"
    rh2 = "reset --hard HEAD^^"
    unmerge = "reset --merge ORIG_HEAD"

    # rebase
    rebi = "rebase -i --autosquash"

    # logs
    lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
    lginit = "!git rev-list --max-parents=0 HEAD | tail -1 | git show --summary $1"
    ll ="!git lg --numstat"

    # Show modified files in last commit:
    dl = "!git ll -1"


    lg1 = "!git lg -1"
    lgu = "!git lg  @{u}..@"
    lgr = "!git lg  @{u} ^@"
    lgs = "!git lg -S"
    lgg = "!git lg --grep"
    lgd = "!git lg --diff-filter=D --name-only"
    lc  = "!git lg ORIG_HEAD.. --stat --no-merges" 

    # stash
    sl = "stash list"
    sp = "stash pop"
    sa = "stash apply"
    ss = "stash save"	
    ssi = "stash save --keep-index"

    # commit 
    files = "show --name-only"
    sum = "show --summary"
    wip = "!git add --all . && git commit -m 'WIP (do not push that)'"
    unwip = "!sh -c 'if [[ $(git lg -1) = *\"WIP (do not push that)\"* ]]; then git r1; else echo \"No WIP commit found. \"; fi'"
    empty = "commit --allow-empty"

    # index [no-]assume-unchanged
    assume = "update-index --assume-unchanged"
    assumeall = "!git status -s | awk {'print $2'} | xargs git assume"
    assumed = "!git ls-files -v | grep ^h | cut -c 3-"
    unassume = "update-index --no-assume-unchanged"
    unassumeall = "!git assumed | xargs git update-index --no-assume-unchanged"
    
    # index skip worktree
	skip = update-index --skip-worktree
	unskip = update-index --no-skip-worktree
	skipped = !git ls-files -v | grep --color "^S"

    # stage status
    added = "diff --cached --diff-filter=A --name-only"
    deleted = "diff --cached --diff-filter=D --name-only"
    staged = "diff --cached --name-status HEAD"
    unstage = "reset HEAD --"
    nostaged = "diff --name-status HEAD"

    # tracked status
    untrackedDir = "ls-files --others --exclude-standard --directory"
    untracked = "ls-files --others --exclude-standard"

    # branch life

    # add prefix done- of branch passed
    bdone = "!f() { git branch --no-color | grep "$1" | cut -c 3- | grep -v done | xargs -I{} git branch -m {} done-{}; }; f"

    # delete done- branches
    dbdone = "!f() { git branch --no-color | grep "done-" | xargs git branch d;  }; f"

    # goen branches
    bgone = "!git fetch -p && git branch --no-color -vv | awk '/: gone]/{print $1}'"
    dbgone = "!git fetch -p && git branch --no-color -vv | awk '/: gone]/{print $1}' | xargs git branch -D"

